html {
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    text-align: center;
    background-color: #eeeeee;
}

html *, html *:before, html *:after {
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}

html i, html em, html b, html strong, html span {
    transition: none;
}

*:before, *:after {
    z-index: -1;
}


a {
    text-decoration: none;
    line-height: 80px;
    color: black;
}

[class^="btn-"] {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 80px;
    max-width: 250px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid currentColor;
}

.btn-0 {
    color: #8679a0;
}

.btn-0:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #443a56;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.btn-0:hover {
    color: #dcd8e3;
}

.btn-0:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@media (min-width: 600px) {
    .wrap {
      width: 50%;
      float: left;
    }
  }
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5em;
    height: 2em;
    width: 100%;
    padding: 15px;
}
.header h1 {
    flex-grow: 1;
    text-align: left;
}
.header p {
    padding: 10px;
}
.header p:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #28af4a;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.header p:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.header p:hover {
    color: whitesmoke;
    background: seagreen;
    cursor: pointer;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.question-box {
    height: 200px;
    width: 100%;
    border: 1px solid salmon;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
}

.blinking {
    animation: blinkingText 0.8s infinite;
}

@keyframes blinkingText{
    0%{color:black}
    49%{color:red}
    50%{color:red}
    99%{color:transparent}
    100%{color:black}
}

#timer {
    font-size: 8em;
    top:0;
}
